.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.avatar {
  width: 200px; /* Exemplo de largura fixa */
  padding: 20px;
}

.description {
  width: 200px;
  text-align: center;
}

.projetos-section {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.contatos-section {
  width: 100%;
  padding: 20px;
  text-align: center;
}

hr {
  border: none;
  border-top: 2px solid #ccc; /* Linha entre as divs */
  margin: 20px 0; /* Espaçamento vertical */
}